.return-button {
    width: 100px;
    margin: 8px;
    background: skyblue;
}

.cart-button {
    width: 100px;
    margin: 8px;
    background: skyblue;   
}

.search-input {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: #444;
}

.list-item {
    padding: 2px;
    margin: 2px;
    background: rgb(226, 239, 244);
}

.reg-link {
    float: right;
}