.loginButton {
	
  background-color: SkyBlue;
  border: none;
  color: white;
  padding: 17px 30px;
  width: 217px;
  margin: 5px auto;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.loginButton:hover {background-color: #0d0de0}

.loginButton:active {
  background-color: skyblue;
  transform: translateY(4px);
}

.login{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: gray;
  font-size: 70px;
}

.wordimg{
  position: absolute;
    width: 40%;
    height: 25%;
    left: 30%;
    top: 45%;
}

.wordloginimg{
  position: absolute;
    width: 25%;
    height: 15%;
    left: 38%;
    top: 70%;
}
