.loginButton {
	
  background-color: SkyBlue;
  border: none;
  color: white;
  padding: 17px 30px;
  margin: 5px auto;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.userLoginbutton {
  display: inline-block;
  padding: 15px 65px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:  SkyBlue;
  border: none;
  border-radius: 8px;
}
.heading{
  font-size: 50px;
}
.userLoginbutton:hover {background-color: #0d0de0}

.userLoginbutton:active {
  background-color: skyblue;
  transform: translateY(4px);
}
.forgotPassword{
  display: inline-block;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:  SkyBlue;
  border: none;
  border-radius: 8px;
}
.forgotPassword:visited{
  color:blue;
}
.forgotPassword:hover{
  background-color: #0d0de0
}
.forgotPassword:active{
  background-color: skyblue;
  transform: translateY(4px);
}
/* body{
  background-image: url("background3.png");
  background-size: 1900px;
  background-color: skyblue;
  background-position: 50% -93%;
} */
.login{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: gray;
  font-size: 70px;
}