.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(14px + 2vmin);
    color: white;
    
}

.App-link {
    color: #09d3ac;
}
.defaultSlogan{
    font-size: calc(14px + 2vmin);
    color: skyblue;
}
.left {
    position: absolute;
    left: 0px;
    width: 400px;
    padding: 5px;
}
.center{
    position: absolute;
    width: 400px;
    right: 50px;
    left: 500px;
    padding: 5px;
}
.right{
    position: absolute;
    width: 400px;
    right: 0px;
    padding: 5px;
}
body{
    background-image: url("background3.png");
    background-size: 1900px;
    background-color: skyblue;
    background-position: 50% -70%;
}
.h1{
   font-size: 130px; 
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: lightsalmon;
}
